$mainBg: #20272a;
$mainBg: #20272a;
$navBg: #1d2226;
$inputBg: #3c6862;
$btnBg: #184b43;
$red: #860202;
$headerHeight: 60px;
// font-family: 'Bowlby One SC', cursive;

@import './Nav.scss';
@import './Home.scss';
@import'./Sign.scss';
@import './User.scss';
@import './Spinner.scss';


* {
  font-family: monospace;
  box-sizing: border-box;
  word-break: break-word;
}

body {
  margin: 0;
  background: $mainBg;
  display: flex;
  justify-content: center;
}

.app {
  height: 100%;
  color: white;
  max-width: 400px;

  // .news-container {
  //   position: relative;
  //   display: flex;
  //   margin-left: -30px;
  //   /* gutter size offset */
  //   width: auto;
  //   padding: 10px;

  //   .col {
  //     padding-left: 30px;
  //     /* gutter size */
  //     background-clip: padding-box;

  //     .article {
  //       background: $navBg;
  //       border-radius: 10px;
  //       margin-bottom: 30px;

  //       .img {
  //         img {
  //           border-radius: 10px 10px 0 0;
  //           width: 100%;
  //         }
  //       }

  //       .info {
  //         padding: 5px;
  //         margin: 5px;

  //         .title {
  //           font-size: 16px;
  //         }
  //       }
  //     }
  //   }
  // }
}

.todo-app {
  font-family: 'Bowlby One SC';
  font-size: 2em;
  text-decoration: none;
  color: white;
}